/* Скидання дефолтних значень */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ========Header======= */
.header-container {
    border-bottom: 1px solid#e7e9fc;

}

/* Логотип */
.logo {

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.text-logo {

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

/* Навігаційне меню */
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.page-navigation {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;

}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:active {
    color: #404BBF;
}

.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

/* Меню контактів */
.contacts {
    font-style: normal;
    display: flex;


}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contatact-item {
    display: flex;
    align-items: center;
}


.link-contacts {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;

    letter-spacing: 0.02em;
}

.link-contacts:hover,
.link-contacts:focus {
    color: #404BBF;
}

.hero {
    background: #2E2F42;
}

/* Головна сторінка */
.container-hero {
    padding: 188px 0
}

.container-hero-title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.container-hero-buttom {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-buttom {
    color: #FFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

.hero-buttom:hover,
.hero-buttom:focus {
    background-color: #404BBF;
}

/* Переваги */
.container-advantages {

    padding: 120px 0;
}

.advantages-container-list {
    display: flex;
    gap: 24px;
}

.list-item {
    width: calc((100% - 72px) / 4);
}

.advantages-container-list-title {
    margin-bottom: 8px;
}

.container-our-team-list {
    display: flex;
    gap: 24px;
}

.list-our-team {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.container-our-team-title {
    padding: 32px 0;
}

.list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.list-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    text-align: center;
}

/* Команда */
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.container-our-team {
    margin-bottom: 72px;
}

.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.list-our-team {
    background-color: #FFFFFF
}

.list-title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}

.list-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

/* =============Portfolio=========== */
.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-our-portfolio {
    margin-bottom: 72px;
}

.container-our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.list-our-portfolio {
    width: calc((100% - 48px) / 3);
}

.container-our-portfolio-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.container-our-portfolio-title-1 {
    margin-bottom: 8px;
}

/* ======Футер====== */
.bottom {
    background: #2E2F42;
    padding: 100px 0;
}

.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.bottom-logo {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.bottom-text {
    color: #F4F4FD;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

/* .container-footer {
    padding: 100px 0;

} */

.container-logo {
    display: inline-block;
    margin-bottom: 16px;
}